<h2 style="text-align: center;">Nestor's Wordl Cheat Sheet</h2>
<h3 style="text-align: center;">LOWERCASE ONLY. Replace dot (.) with green chars. Yellow to yellow. Add grey chars to 'NOT CHARS'.</h3>
<form action="/data" method = "POST">
<div></div>
    <p><input type = "submit" value = "Submit" autocapitalize="none" /></p>
    <p>NOT CHARS <input type = "text" name = "nn" value = "" autocapitalize="none" /></p>
<p>
    char1 green <input type = "text" name = "c1" value = "" autocapitalize="none" />
    yellow <input type = "text" name = "y1" value = "" autocapitalize="none" />
</p>
<p>
    char2 green <input type = "text" name = "c2" value = "" autocapitalize="none" />
    yellow <input type = "text" name = "y2" value = "" autocapitalize="none" />
</p>
<p>
    char3 green <input type = "text" name = "c3" value = "" autocapitalize="none" />
    yellow <input type = "text" name = "y3" value = "" autocapitalize="none" />
</p>
<p>
    char4 green <input type = "text" name = "c4" value = "" autocapitalize="none" />
    yellow <input type = "text" name = "y4" value = "" autocapitalize="none" />
</p>
<p>
    char5 green <input type = "text" name = "c5" value = "" autocapitalize="none" />
    yellow <input type = "text" name = "y5" value = "" autocapitalize="none" />
</p>
</form>
