<h2 style="text-align: center;">Nestor's Wordl Cheat Sheet</h2>
<h3 style="text-align: center;">Replace dot (.) with green chars. Add grey chars to 'NOT CHARS'. Use LOWERCASE.</h3>
<form action="/data" method = "POST">
    <div></div>
    <p>NOT CHARS <input type = "text" name = "nn" value = "'" /></p>
    <p>char1 <input type = "text" name = "c1" value = "." /></p>
    <p>char2 <input type = "text" name = "c2" value = "." /></p>
    <p>char3 <input type = "text" name = "c3" value = "." /></p>
    <p>char4 <input type = "text" name = "c4" value = "." /></p>
    <p>char5 <input type = "text" name = "c5" value = "." /></p>

    <p><input type = "submit" value = "Submit" /></p>
</form>